<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'nonce-your-nonce-value';">
    <title>Verify Message</title>
    <style>
        body{
            background-color: rgb(76, 76, 240);
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 80vh;
        }
        .container{
            background-color: white;
            /* max-width: 300px; */
            padding: 30px;
            border-radius: 25px;
        }
        .message{
            /* word-wrap: break-word; */
            font-size: 48px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .btn{
            /* background-color: blue; */
            display: flex;
            justify-content: center;
        }
        button{
            width: 80%;
            background-color: rgb(76, 76, 240);
            color: white;
            font-size: 32px;
            border-radius: 25px;
            margin-top: 20px;
            padding: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="message">
            <%if(status == "success"){%>
                This email has been verified
                <%}else{%>
                    Something went wrong
                <%}%>
        </div>
        <!-- <div class="btn">
            <%if(status == "success"){%>
                <button onclick="changeLocation()">Login</button>
            <%}%>            
        </div> -->
        
    </div>
    <!-- <script>
        function changeLocation() {
            window.location.href = "http://localhost:3000/login";
        }
    </script> -->
</body>
</html>